<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <h4>Error</h4>
        <p style="color:red">Error Occurred</p>
        <p>@ViewBag.Message</p>
    </body>
</html>


