
@{
    ViewBag.Title = "StudentCount";
}

<h2>StudentCount</h2>

<label>Total Students:</label>  @ViewBag.TotalStudents
<label>Total Students:</label>  @ViewData["TotalStudents1"]

<label>Name of temporary students:</label>  @TempData["name"];
<label>Age of temporary student:</label>  @TempData["age"];