<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <div>
            <a href="/index">Index</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
        <h4>Index</h4>
    </body>
</html>


