<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h4>Index</h4>
        <a href="/admin/home/index">Admin Home</a><br />
        <a href="/home/index">Home</a><br />
    </body>
</html>


