@model StronglyTypedViewsExample.Models.Employee
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h4>Strongly Typed Views</h4>
        <p>@Model.EmpID</p>
        <p>@Model.EmpName</p>
        <p>@Model.Salary</p>
    </body>
</html>

