<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h4>Cache</h4>
        <p>Emp ID: @ViewBag.emp2.EmpID</p>
        <p>Emp Name: @ViewBag.emp2.EmpName</p>
        <p>Salary: @ViewBag.emp2.Salary</p>
    </body>
</html>


