<html>
    <head>
        <title>Create</title>
    </head>
    <body>
        <h5>Products</h5>
        <div>
            <a href="/Products/Show">Show</a>
            <a href="/Products/Search">Search</a>
            <a href="/Products/Create">Create</a>
        </div>
        <h4>Create</h4>
    </body>
</html>

