<html>
    <head>
        <title>DisplaySingle</title>
    </head>
    <body>
        <h5>Products</h5>
        <div>
            <a href="/Products/Show">Show</a>
            <a href="/Products/Search">Search</a>
            <a href="/Products/Create">Create</a>
        </div>
        <h4>Show</h4>
        <p>id: @ViewBag.id</p>
    </body>
</html>


